[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
datetime = "*"

[dev-packages]
python-dotenv = "*"
pylint = "*"

[requires]
python_version = "3.9"
